@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  :host {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}

